body{
    background:url("https://media.istockphoto.com/vectors/dot-pattern-seamless-design-yellow-and-white-pastel-background-vector-vector-id948507714?k=20&m=948507714&s=612x612&w=0&h=UisM7qXmiVF46jU95yCPBSwEFpjamrHLs_mRCyCyAHs=");
}

.bored{
    margin-left:390px;
    margin-bottom:100px;
}

button{
    border-radius:100px;
    border:2px solid black;
    width:80px;
    height:80px;
    background-color:white;

}
.center{
    text-align:center;
}
#cel1{
    background-color:white;
}


#won{
    font-size:4em;
    margin-left:120px;
}
